<div class="center">
  <button class="btn btn-secondary float-right" (click)="logout()">Sign out</button>

  <div class="container project-form">
    <form autocomplete="off" class="form-signin" (submit)="onSubmit()">
      <h3 class="h3 mb-3 font-weight-normal">Nouveau projet</h3>
      <label class="sr-only">Nom du projet</label>
      <input
        [(ngModel)]="projectName"
        name="projectName"
        type="text"
        class="form-control"
        placeholder="Nom du projet"
        required
      >
      <label class="sr-only">Montant</label>
      <input
        [(ngModel)]="projectAmount"
        name="projectAmount"
        type="number"
        class="form-control"
        placeholder="Montant du projet, ex: 999"
        required
      >
      <label class="sr-only">Description</label>
      <textarea
        [(ngModel)]="projectDescription"
        name="projectDescription"
        rows="3"
        class="form-control"
        placeholder="Description du projet"
        required
      ></textarea>
      <button
        class="btn btn-lg btn-primary custom-btn btn-block"
        type="submit"
        [disabled]="!formIsValid"
        
      >Créer</button>
    </form>
  </div>

  <div>
    <h3>Projets</h3>
    <!-- Tableau contenant les projets -->
    <!-- TODO : Lier le tableau ci-dessous avec `this.projects` pour afficher un projet par ligne -->
    <!-- TODO : Masquer ce tableau et afficher un message indiquant l'absence de projets -->
    <table class="project-table">
      <thead>
        <tr>
          <!-- project.name -->
          <th>Nom</th>
          <!-- project.amount -->
          <th>Montant</th>
          <!-- project.description -->
          <th>Description</th>
          <!-- project.ownerUsername -->
          <th>Propriétaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.name }}</td>
          <td>{{ project.amount }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.ownerUsername }}</td>
        </tr>
        <tr *ngIf="projects.length === 0">
          <td colspan="4">Aucun projet disponible.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
